.personal-data-modifier-box{
    display: flex;
    flex-direction: column;
    margin: 0 2em;
    color: #1a1a1a;
    padding: 0.5em 0em;
    background-color: #fff;
    max-width: 100%;
}




/* personal data */

.personal-data-inputs{
    display: block;
    height: fit-content;
}

/* contact-info */

.contact-info{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.contact-info >div{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-right: 1em;
}

.contact-info div:last-child{
    margin-right: 0;
}

