.pdf-viewer{
    overflow: hidden;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: white;


}

iframe{
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: white;

}