/* general */
*{
    margin: 0;
}

body, html,* {
    max-width: 100vw;
}

/* document wide tag default styles */

input[placeholder] { text-overflow: ellipsis; }
::-moz-placeholder { text-overflow: ellipsis; } /* firefox 19+ */
input:-moz-placeholder { text-overflow: ellipsis; }
input, textarea{
    font-family: inherit;
    background-color: #f3f4f6;
    border: none;
    border-radius: 5px;
    margin: 0 0 0.5em 0;
    flex-grow: 1;
}

input{
    padding: 1em 2em;
}
.input:focus{
    overflow: scroll;
}
textarea{
    padding: 0.8em 1.5em;
}

label{
    font-weight: bold;
    margin : 0 0.5em 0.2em 0;
}

.icon{
    height: 25px;
    width: auto;

}

button {
    background-color: transparent;
}

/* data modifier sections */



.data-modifier-box{
    margin: 0 0 0 2em;
    color: #1a1a1a;
    padding: 0.5em 2em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 3px gray;
    border: 1px solid #6095b1;

}

.form-error, .date-error{
    color: red;
    text-align: center;
}
.date-error{
    margin-top: 1em;
}
/* TODO move */

/*util classes*/
.hidden{
    display: none !important;
}

/* pdf viewers */

.main-container{
    display: flex;
    justify-content: space-around;
}

.download{
    display: block;
    background-color: red;
    min-width: 200px;
    color: blue;
}



.download-link{
    background-color: red;
    color: blue;
}

/*react-pdf*/

.pagination{
    display: flex;
    color: #2572b5;
    justify-content: center;
    align-items: center;
}


/* container */

.container {
    width: 90%;
    margin: 2em auto 0 auto;
    display: flex;
    justify-content: space-around;

}


.left-container{
    margin-right: 2em;
}

/*Download Button*/




.download-button{
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    margin: 1em auto 1em auto;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    width: 30%;
    min-width: fit-content;
}

/*media*/

@media only screen and (max-width: 1650px) {
    .left-container{

        width: fit-content;
        margin-left: 0;
    }

    .container{
        margin-left: 0;
    }
}

@media only screen and (max-width: 1400px) {


    .container{
        width: 100%;
    }
}


@media only screen and (max-width: 1100px) {
    h3{
        font-size: 0.8em;
    }
    label {
        font-size: 0.65em;
    }

    .add-achievement-button{
        font-size: 0.5em;
        margin: 0 auto;
    }

    .contact-info>*{
        min-width: 100%;
    }
    button {
        font-size: 0.8em;
    }
    button.done-button{
        padding: 0.5em 1.5em;
        margin-bottom: 0.2em;
    }

    button.discard-button{
        margin-top: 0;
    }


    .left-container{
        min-width: 100%;
        margin: 0;
        padding: 0;
    }
    .container{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
    }
    .cv-section{
        margin-left:0.5em !important;
    }


    .data-modifier-box{
        margin: 0 0.5em
    }

    .form-action-buttons{
        display: flex;
        gap: 0.5em;
    }

    .form-action-buttons >*{
        margin: 1em 0 0 0 !important;
        padding : 0.25em 0.5em !important;
        box-shadow: none !important;
        font-size: 0.6em;
    }
}
