*{
    margin: 0;
}

.edit-cv-section{
    margin-top: 1em;
}


.cv-section{
    margin: 0 0 0 2em;
    padding: 1em 0.5em;
    color: #1a1a1a;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;

}

.cv-section-info{
    width: 100%;
    display: flex;
}

.cv-section-info-title{
    max-height: none;
    display: flex;
    align-items: center;
}

.cv-section-info-title>*{

}

.dropdown{
    padding: 0;
    margin: 0 0 0 auto;
}


.add-item{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*
.add-item-button{
    font-size: 0.8em;
    background-color: #c2d5c2;
    color: #1d1913;
    border-radius: 10px;
    width: 40%;
    margin-top: 1em;
}
*/

.icon-button{
    background: none;
    margin: 0;
    padding: 0;
}



 .edit-cv-section .dropdown button:hover{
     border: none;
 }

 /* collapsible */

.items-closed{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in;
    transition-delay: -0.7s;
}


.items-open{
    max-height: 1000px;
    transition: max-height 1s ease-in;
    overflow: hidden;
    max-width: 100%;

}

/* */


.edit-cv-section > * {
    /*
    box-sizing: border-box;
    */
    margin-bottom: 1em;
}

/* experience editor */

.form-action-buttons{
    max-width: max-content;
    margin: 0 auto;
}

.form-action-buttons>button{
    width: 100%;
}

.done-button, .add-item-button, .discard-button{

    margin: 1em auto 1em auto;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    display: block;
    width: fit-content;
}

.done-button, .add-item-button{
    color: white; box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
}


.done-button:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.discard-button{
    border: 0.5px solid black;
    box-shadow: 2px 3px 0 0 gray;
    transition: 0.5s;
}

.discard-button:hover{
    background-color: red;
    color: white;
    background-position: right center;
}

/* FORM TODO most of the form css is in app.css, must be refactored /*
 */
.school-input{
    display: flex;
    flex-direction: row;
}

.school-name{
    margin-right: 1em;
}
.school-name, .school-degree{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.delete-button{
    cursor: pointer;
}

/* achievements */
.add-achievement-button{
    display: flex;
    border: 2px solid lightgreen;
    align-items: center;
    width: fit-content;
}

.add-achievement-icon{
    margin-right: 1em;
}

.add-achievement-icon:hover{
    border: 2px solid lightgreen;
}