

.edit-cv-section{
    margin-top: 1em;
}


.cv-section{
    margin: 0 0 0 2em;
    padding: 1em 0.5em;
    color: #1a1a1a;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;

}

.cv-section-info{
    width: 100%;
    display: flex;
}

.cv-section-info-title{
    max-height: none;
    display: flex;
    align-items: center;
}

.dropdown{
    padding: 0;
    margin: 0 0 0 auto;
}

/*
.add-item{
    !*
    width: 100%;
    *!
    !*
    display: flex;
    *!
    !*
    justify-content: center;
    *!
}*/


.icon-button{
    padding: 0;
}


 /* collapsible */

.items-closed{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in;
    transition-delay: -0.7s;
}



.items-open{
    max-height: 1000px;
    transition: max-height 1s ease-in;
    overflow: hidden;
    max-width: 100%;

}

/* */


.edit-cv-section > * {

    margin-bottom: 1em;
}

/* experience editor */

.form-action-buttons{
    max-width: max-content;
    margin: 0 auto;
}

.form-action-buttons>button{
    width: 100%;
}

.done-button, .add-item-button, .discard-button{

    margin: 1em auto 1em auto;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    display: block;
    width: fit-content;
}

.done-button, .add-item-button{
    color: white; box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
}


.done-button:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.discard-button{
    border: 0.5px solid black;
    box-shadow: 2px 3px 0 0 gray;
    transition: 0.5s;
}

.discard-button:hover{
    background-color: red;
    color: white;
    background-position: right center;
}

/* FORM */
/* TODO most of the form css is in app.css, must be refactored */

.horizontal-multiple-input-holder{
    display: flex;
    flex-direction: row;
    gap: 0 1em;
    flex-wrap: wrap;
}


.horizontal-element-input{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}


.delete-button{
    cursor: pointer;
}

/* achievements */
.add-achievement-button{
    display: flex;
    border: 2px solid #468246;
    align-items: center;
    width: fit-content;
    color: inherit;
    margin-top: 0.3em;

}

.add-achievement-icon{
    margin-right: 1em;
    pointer-events: none;
}

.add-achievement-icon:hover{
    border: 2px solid lightgreen;
}

.achievements-input{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.achievement{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}


.achievement svg{
    height: 25px;
    margin-left: 1em;
}